.titleFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--M);
  animation: fadeIn 0.8s ease-in-out;
}
.topTitle {
  font-size: var(--LG);
  font-weight: bold;
  animation: fadeIn 0.8s ease-in-out;
}

.mainBody {
  width: 100%;
  max-height: 100%;
  overflow-y: scroll;
  position: relative;
  background-color: var(--almostwhite);
  border-radius: var(--btn-border);
  padding: 20px 25px;
  font-size: var(--S);
  box-shadow: var(--shortglow);
}

.btn {
  width: 100%;
  background-color: var(--black);
  color: var(--white);
  padding: 10px 40px;
  margin: 20px 0px;
  border-radius: var(--btn-border);
  font-size: var(--S);
  text-align: center;
  animation: fadeIn 1.4s ease-in-out;
  box-shadow: var(--shortglow);
}

.title {
  font-size: var(--M);
  font-weight: bold;
  animation: fadeIn 0.8s ease-in-out;
}

.standup {
  padding: 15px 15px;
  margin: 10px 0;
  background-color: var(--white);
  box-shadow: var(--shortglow);
  border-radius: calc(var(--btn-border) - 3px);
  animation: fadeIn 1.4s ease-in-out;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.pieCont {
  width: 100%;
}
.pie {
  width: 80%;
  margin: auto;
}

.labels {
  display: flex;
  align-items: center;
}
.dot {
  margin-right: 8px;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: red;
}

.label {
  margin-right: 5px;
}

.standupGraph {
  margin-top: 20px;
}

/* Selector */
.selector {
  font-size: var(--S);
  display: flex;
  width: fit-content;
  margin: 0 auto;
  margin-top: 15px;
  animation: fadeIn 1s ease-in-out;
  background-color: var(--almostwhite);
  border-radius: var(--btn-border);
  box-shadow: var(--shortglow);
}

.selectorBtn {
  background-color: var(--lightergrey);
  margin: 10px 0px;
  margin-right: 10px;
  padding: 4px 8px;
  border-radius: calc(var(--btn-border) - 3px);
  box-shadow: var(--shorterglow);
  transition: 0.3s;
}

.selected {
  background-color: var(--lightgrey);
  transition: 0.3s;
}

.bottomBtn {
  position: relative;
  width: 100%;
  color: white;
  text-align: center;
  font-size: var(--S);
  border-radius: var(--btn-border);
  padding: 10px 0;
}

.left {
  margin-left: 10px;
}

/* Standups */

.standupCont {
  width: 100%;
}
.flex {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.double {
  width: 100%;
  padding-right: 5px;
}
.standupTitle {
  padding-top: 8px;
  font-size: var(--S);
  font-weight: bold;
}
