@import "./base.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  scrollbar-width: none !important; /* Firefox */
  -ms-overflow-style: none !important; /* IE and Edge */
}

body {
  background-color: var(--white);
}

body::-webkit-scrollbar {
  display: none !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Animations */
