/* Main Container*/
.telegramHeight {
  color: var(--black);
  height: var(--tg-viewport-stable-height);

  display: flex;
  flex-direction: column;
  padding: 20px;
  max-width: 900px;
  margin: 0 auto;
}

.top {
  justify-content: flex-start;
}

.centered {
  justify-content: space-between;
}

.trueCenter {
  justify-content: center;
}

/* Top and Bottom Containers */

.wrapper {
  height: fit-content;
  flex-shrink: 0;
}

.bottom {
  margin-top: auto;
  flex-basis: end;
}

/* Main Body Container */

.body {
  width: 100%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
}

.full {
  height: 100%;
  overflow-y: scroll;
}

.body2 {
  max-height: 100%;
  overflow-y: scroll;
}
