.titleFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--M);
  animation: fadeIn 0.8s ease-in-out;
}
.topTitle {
  font-size: var(--LG);
  font-weight: bold;
  animation: fadeIn 0.8s ease-in-out;
}

.mainBody {
  width: 100%;
  max-height: 100%;
  overflow-y: scroll;
  position: relative;
  background-color: var(--almostwhite);
  border-radius: var(--btn-border);
  padding: 20px 25px;
  font-size: var(--S);
  box-shadow: var(--shortglow);
}

.title {
  font-size: var(--M);
  font-weight: bold;
  animation: fadeIn 0.8s ease-in-out;
}

.view {
  font-size: var(--S) !important;
  cursor: pointer;
  animation: fadeIn 1s ease-in-out;
}

.sFont {
  font-size: var(--S);
  animation: fadeIn 1s ease-in-out;
}

.mFont {
  font-size: var(--M);
  animation: fadeIn 1s ease-in-out;
}
.task {
  padding: 15px 15px;
  margin: 10px 0;
  background-color: var(--white);
  box-shadow: var(--shortglow);
  border-radius: calc(var(--btn-border) - 3px);
  animation: fadeIn 1.4s ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  width: 100%;
  background-color: var(--black);
  color: var(--white);
  padding: 10px 40px;
  margin: 20px 0px;
  border-radius: var(--btn-border);
  font-size: var(--S);
  text-align: center;
  animation: fadeIn 1.4s ease-in-out;
  box-shadow: var(--shortglow);
}

@media (max-width: 320px) {
  .rightOpt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: fadeIn 1.6s ease-in-out;
    flex-shrink: 0;
  }
  .status {
    font-size: var(--XS);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    margin-left: 5px;
    margin-bottom: 5px;
    border-radius: var(--btn-border);
  }
}
.rightOpt {
  display: flex;
  align-items: center;
  animation: fadeIn 1.6s ease-in-out;
  flex-shrink: 0;
}
.icon {
  height: 20px;
  margin-left: 10px;
  opacity: 0.7;
  transition: 0.3s;
}

.icon:hover {
  opacity: 1;
  cursor: pointer;
  transition: 0.3s;
}
.priorityIndicator {
  width: 20px;
  height: 20px;

  border-radius: 50%;
}

.status {
  font-size: var(--XS);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  margin-left: 5px;

  border-radius: var(--btn-border);
}

.selector {
  font-size: var(--S);
  display: flex;
  width: fit-content;
  margin: 0 auto;
  animation: fadeIn 1s ease-in-out;
  background-color: var(--almostwhite);
  border-radius: var(--btn-border);
  box-shadow: var(--shortglow);
}

.selectorBtn {
  background-color: var(--lightergrey);
  margin: 10px 0px;
  margin-right: 10px;
  padding: 4px 8px;
  border-radius: calc(var(--btn-border) - 3px);
  box-shadow: var(--shorterglow);
  transition: 0.3s;
}

.selected {
  background-color: var(--lightgrey);
  transition: 0.3s;
}

.left {
  margin-left: 10px;
}

.bottomBtn {
  position: relative;
  width: 100%;
  color: white;
  text-align: center;
  font-size: var(--S);
  border-radius: var(--btn-border);
  padding: 10px 0;
}

@keyframes fadeIn {
  from {
    opacity: 0%;
    transform: translate3d(0, 30%, 0);
  }
  to {
    opacity: 100%;
    transform: translate3d(0, 0, 0);
  }
}
